*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.header-bg{
    background-color: rgba(14, 167, 70, 0.65);
}

.bg-middle{
    background-color: rgb(233, 242, 242,0.3);
    width: 100%;
}



input{
    width: 50%;
    background-color: rgb(233, 242, 242,0.3);
}

form{
    width: 100%;
}

button[type="submit"]{
    width: 30%;
}